<h1>Thank you for the feedback!</h1>

<p>
  Your feedback: <b><%= @feedback.text %></b>. It was handled to 
  the support.
  Meanwhile you can continue to experience our functionality:
  <%= root_url %>
</p>