<h1>Спасибо за отзыв!</h1>

<p>
  Ваш отзыв: <b><%= @feedback.text %></b>. Он был передан в поддержку и 
  будет вскоре обработан.
  А пока что вы можете продолжить пользоваться функционалом нашего сайта:
 <%= link_to 'продолжить', root_url %>
</p>