<ul>
  <li><%= link_to gist.question.short_body(25), gist.url, target: '_blank' %></li>
  <li><%= link_to gist.truncate_url(24), gist.url, target: '_blank' %></li>
  <li><%= gist.user.email %></li>
</ul>
