<% if resource.errors.present? %>
  <div>
    <h2><%= t('.header', count: resource.errors.count) %>:</h2>

      <% resource.errors.full_messages.each do |message| %>
        <%= content_tag :div, class: "alert alert-danger" do %>
          <%= content_tag(:p, message) %>
        <% end %>
      <% end %>
  </div>
<% end %>