<section class="default-form">
  <div class="row justify-content-center">
    <div class="col col-md-6">
      <h2 class="default-header"><%= t('.question_body', body: @answer.question.body ) %></h2>
      <h2 class="default-header"><%= t('.header') %></h2>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col col-md-4">
      <%= render 'form' %>

      <div class="mt-1">
        <%= link_to t('common.back'), admin_question_path(@answer.question) %>
      </div>
    </div>
  </div>
</section>
