<section class="default-form">
  <div class="row justify-content-center">
    <div class="col col-md-4">
      <h2 class="default-header"><%= t('.header') %></h2>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col col-md-4">
      <%= render 'form' %>

      <div class="mt-1">
        <%= link_to t('common.back'), root_path %>
      </div>
    </div>
  </div>
</section>