.author-info-area .author-name {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.author-info-area a {
  text-decoration: none;
  color: #ffffff;
}

.author-info-area a:hover {
  color: rgba(255,255,255,0.7);
}

.author-info-area a:active {
  color: #000000;
}

.author-info-area .author-info {
  margin-top: 30px;
}