.badges-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.badge-types-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.badge-acquiring ul {
  padding: 0;
  margin: 0;
  list-style: none;
}