// Place all the styles related to the gists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gists-table a {
  text-decoration: none;
  color: #ffffff;
}

.gists-table a:hover {
  color: rgba(255, 255, 255, 0.7)
}

.gists-table a:active {
  color: #000000;
}
