body {
  // background-color: #75227f;
  background-color: #17141f;
  color: white;
}

.navbar {
  // background-color: #79487f;
  background-color: #392e5c;
}

.navbar .navbar-text a:hover {
  text-decoration: none;
  color: rgba(255,255,255,0.7);
}

.navbar .navbar-text a:active {
  text-decoration: none;
  color: #000000;
}

footer.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}