.questions-table {
  display: table;
}

.questions-table-header {
  display: table-caption;
  caption-side: top;
  text-align: center;
}

.questions-table ul {
  display: table-row;
}

.questions-table li {
  min-width: 100px;
  height: 40px;
  display: table-cell;
}

.questions-table-content ul:hover {
  background-color: rgba(57, 35, 92, 0.2);
}

.questions-table li:first-of-type {
  width: 300px;
}

.questions-table header {
  display: table-header-group;
}

.questions-table .questions-table-content{
  display: table-row-group;
}

.chosen-question a {
  text-decoration: none;
  color: #ffffff;
}

.chosen-question a:hover {
  color: rgba(255, 255, 255, 0.7)
}

.chosen-question a:active {
  color: #000000;
}

