.tests-pickup .tests-headline {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tests-grid {
  display: flex;
  flex-wrap: wrap;  
  padding-left: 100px
}

.tests-grid .test-picker {
  margin: 5px;
  min-width: 300px;
  min-height: 150px;
  text-decoration: none;
  background-color: transparent;
  color: white;
  border: 10px solid #39235c;
}

.tests-grid .test-picker .test-title {
  text-align: center;
  font-weight: bold;
}

.tests-grid .test-picker .test-level,
.tests-grid .test-picker .test-questions-qty {
  text-align: left;
}

.tests-grid .test-picker:hover {
  border-color: #76b200;
  cursor: pointer;
}

.tests-grid .test-picker:active {
  border-color: rgba(118, 178, 0, 0.5);
  cursor: pointer;
}

// Admin tests

.all-tests .btn {
  margin-left: 0;
}

.tests-table {
  display: table;
}

.tests-table ul {
  display: table-row;
}

.tests-table li {
  min-width: 100px;
  height: 40px;
  display: table-cell;
}

.tests-table li:first-child {
  min-width: 200px;
}

.tests-table-content ul:hover {
  background-color: rgba(57, 35, 92, 0.2);
}

.tests-table header {
  display: table-header-group;
}

.tests-table .tests-table-content{
  display: table-row-group;
}

.chosen-test a {
  text-decoration: none;
  color: #ffffff;
}

.chosen-test a:hover {
  color: rgba(255, 255, 255, 0.7)
}

.chosen-test a:active {
  color: #000000;
}

