<footer class="page-footer">
  <div class="container clearfix">
    <copyright class="footer-copyright">
      &copy <%= current_year %> Loki <%= github_link('Lokideos', 'test-guru') %>
      <p><%= t('.credits') %> <%= link_to('Thinknetica', 'https://www.thinknetica.com', target: '_blank') %></p>
    </copyright>
  </div>
</footer>

